# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# production
/build

# vercel
.vercel

# typescript
/front_next/*.tsbuildinfo
/front_next/next-env.d.ts

# dependências
/front_next/node_modules
/back_django/venv
/rasa_chatbot/.rasa

# next.js
/front_next/.next
/front_next/out

# arquivos de build
/back_django/staticfiles
/back_django/media

# logs
/front_next/npm-debug.log*
/front_next/yarn-debug.log*

# ambientes
/front_next/.env*
/back_django/.env*
/rasa_chatbot/.env*

# miscelânea
.DS_Store
*.pem
*.tsbuildinfo

#Global env
/env*

#Modelo rasa
/rasa_chatbot/models/